@page "{id:int?}"
@model RazorPagesHistoricalFiguresAC.Pages_HistoricalFiguresAC.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HistoricalFiguresAC</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricalFiguresAC.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoricalFiguresAC.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricalFiguresAC.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoricalFiguresAC.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricalFiguresAC.DateOfDeath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoricalFiguresAC.DateOfDeath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricalFiguresAC.Profession)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoricalFiguresAC.Profession)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricalFiguresAC.SeenIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoricalFiguresAC.SeenIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricalFiguresAC.Affiliation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoricalFiguresAC.Affiliation)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="HistoricalFiguresAC.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
