@page "{id:int?}"
@model RazorPagesHistoricalFiguresAC.Pages_HistoricalFiguresAC.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HistoricalFiguresAC</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricalFiguresAC.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoricalFiguresAC.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricalFiguresAC.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoricalFiguresAC.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricalFiguresAC.DateOfDeath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoricalFiguresAC.DateOfDeath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricalFiguresAC.Profession)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoricalFiguresAC.Profession)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricalFiguresAC.SeenIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoricalFiguresAC.SeenIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricalFiguresAC.Affiliation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoricalFiguresAC.Affiliation)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HistoricalFiguresAC.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
